.landingContainer{
    position: relative;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    margin: 0;
   
    z-index: auto;

}

