/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,700');

/* BODY STYLE */
/* ========================================================= */
body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
}

/* LANDING STYLE */
/* ========================================================= */

.bot{
    height: 250px;
}
p{
    text-align: center;
}
